.contact{
    .btn{
        float: right;
        background-color: black;
        color: white;
      }
    .btn::before{
        display: none;
      }
    .contactBody{
        position: relative;
        width:100%;
        max-width: 1100px;
        margin:auto;
        padding: 20px;
        svg{
            margin-right:10px;
        }
    }
}