.loading{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 253, 253, 0.5);
}